sourceDir = "{{ env "HOME" }}/code-monkey/dotfiles"
[merge]
    command = "nvim"
    args = [
        "-d",
        "{{ "{{ .Destination }}" }}",
        "{{ "{{ .Source }}" }}",
        "{{ "{{ .Target }}" }}"
    ]

[diff]
    pager = "delta"
