sourceDir = "{{ env "HOME" }}/code-monkey/dotfiles"
pager = "bat --language=diff --plain --plain"
[merge]
    command = "nvim"
    args = [
        "-d",
        "{{ "{{ .Destination }}" }}",
        "{{ "{{ .Source }}" }}",
        "{{ "{{ .Target }}" }}"
    ]

## Normally i'd use this, but the pager seems broken still. It says it's fixed, but i'm still getting it. probably something wrong with my pager 
## Source: https://github.com/twpayne/chezmoi/issues/3346
# [diff]
#     pager = "delta"
