sourceDir = "{{ env "HOME" }}/code-monkey/dotfiles"
[merge]
    command = "nvim"
    args = [
        "-d",
        "{{ "{{" }} .Destination {{ "}}" }}",
        "{{ "{{" }} .Source {{ "}}" }}",
        "{{ "{{" }} .Target {{ "}}" }}"
    ]
  # args = ["--true-color", "always", "--dark", "--line-numbers", "--side-by-side", "{{`{{ .Destination }}`}}", "{{`{{ .Target }}`}}"]



[diff]
    pager = "delta"
