[global_config]
  window_state = maximise
  title_hide_sizetext = True
[keybindings]
  next_tab = <Primary><Shift>Right
  prev_tab = <Primary><Shift>Left
  switch_to_tab_1 = <Alt>1
  switch_to_tab_2 = <Alt>2
  switch_to_tab_3 = <Alt>3
  switch_to_tab_4 = <Alt>4
  switch_to_tab_5 = <Alt>5
  switch_to_tab_6 = <Alt>6
  switch_to_tab_7 = <Alt>7
  switch_to_tab_8 = <Alt>8
  switch_to_tab_9 = <Alt>9
  switch_to_tab_10 = <Alt>0
[profiles]
  [[default]]
    background_color = "#282828"
    cursor_blink = False
    cursor_shape = ibeam
    cursor_color = "#aaaaaa"
    font = Monofur Nerd Font 22
    foreground_color = "#ebdbb2"
    scrollback_lines = 9999
    palette = "#282828:#cc241d:#98971a:#d79921:#458588:#b16286:#689d6a:#a89984:#928374:#fb4934:#b8bb26:#fabd2f:#83a598:#d3869b:#8ec07c:#ebdbb2"
    use_system_font = False
  [[MonokaiPro]]
    cursor_blink = False
    cursor_shape = ibeam
    cursor_color = "#ffffff"
    cursor_color_fg = False
    font = Monofur Nerd Font 20
    scrollback_lines = 9999
    palette = "#000000:#f92672:#6cc72c:#fe9720:#5f91ef:#9358fe:#36af90:#8c8c8c:#4c4c4c:#ff80f4:#a7e22e:#ffee99:#5fd9ef:#ae82fe:#66efd5:#c7cece"
    foreground_color = "#ffffff"
    # palette = "#403e41:#ff6188:#a9dc76:#ffd866:#fc9867:#ab9df2:#78dce8:#fcfcfa:#727072:#ff6188:#a9dc76:#ffd866:#fc9867:#ab9df2:#78dce8:#fcfcfa"
    use_system_font = False
[layouts]
  [[default]]
    [[[window0]]]
      type = Window
      parent = ""
    [[[child1]]]
      type = Terminal
      parent = window0
[plugins]
